
  <% content_for :datepicker do %>
    <!-- Datepicker START -->
    <script>
      $(function() {

        var i;

        for(i = 1; i <= 30; i++)
        {
          $( "#datepicker" + i ).datetimepicker({
            controlType: 'select',
            oneLine: true,
            timeFormat: 'hh:mm tt z'
          });
        }
      });
    </script>
    <!-- Datepicker END -->
  <% end %>

  <div class="container">
  <div class="row">
  <div class="col-md-12">
  <main id="tournament">
    <ul class="round round-1">
      <!-- Round 1 - 32 Teams -->
      <!-- 16 match (1-16) -->
      <% j = 1 %>
      <% @first_round_matches.each do |matcha| %>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top winner"><span class="team-logo"></span> <%= matcha.top_player.team_name unless matcha.top_player.nil? %> </li>
      <% if (@the_player.team_name == matcha.top_player.team_name || @the_player.team_name == matcha.bottom_player.team_name) %>
      <li class="game game-spacer"><input type="text" id="datepicker<%= j %>"></li><br>
      <button class="game-button" match-id="<%= matcha.id %>">Submit</button> 
      <% else %>
      <li class="game game-spacer"><span class="gamedate"><%= matcha.agreed_datetime unless matcha.agreed_datetime.nil? %></span></li>
      <% end %>
      <li class="game game-bottom winner"><span class="team-logo"></span> <%= matcha.bottom_player.team_name unless matcha.bottom_player.nil? %> </li>
      <% j += 1 %>
      <% end %>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2">
      <!-- Round 2 - 16 Teams -->
      <!-- 8 match (17 - 24) -->
      <% j = 17 %>
      <% @second_round_matches.each do |matcha| %>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top winner"><span class="team-logo"></span> <%= matcha.top_player.team_name unless matcha.top_player.nil? %> </li>
      <li class="game game-spacer"><input type="text" id="datepicker<%= j %>"></li>
      <li class="game game-bottom winner"><span class="team-logo"></span> <%= matcha.bottom_player.team_name unless matcha.bottom_player.nil? %> </li>
      <% j += 1 %>
      <% end %>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-3">
      <!-- Round 3 - 8 Teams -->
      <!-- 4 match (25 - 28) -->
      <% j = 25 %>
      <% @third_round_matches.each do |matcha| %>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top winner"><span class="team-logo"></span> <%= matcha.top_player.team_name unless matcha.top_player.nil? %> </li>
      <li class="game game-spacer"><input type="text" id="datepicker<%= j %>"></li>
      <li class="game game-bottom winner"><span class="team-logo"></span> <%= matcha.bottom_player.team_name unless matcha.bottom_player.nil? %> </li>
      <% j += 1 %>
      <% end %>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-4">
      <!-- Round 4 - 4 Teams -->
      <!-- 2 match (29 - 30) -->
      <% j = 29 %>
      <% @fourth_round_matches.each do |matcha| %>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top winner"><span class="team-logo"></span> <%= matcha.top_player.team_name unless matcha.top_player.nil? %> </li>
      <li class="game game-spacer"><input type="text" id="datepicker<%= j %>"></li>
      <li class="game game-bottom winner"><span class="team-logo"></span> <%= matcha.bottom_player.team_name unless matcha.bottom_player.nil? %> </li>
      <% j += 1 %>
      <% end %>


      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-5">
      <!-- Round 5 - 2 Teams -->
      <!-- 1 match (31 - 31) -->
      <% j = 31 %>
      <% @fifth_round_matches.each do |matcha| %>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top winner"><span class="team-logo"></span> <%= matcha.top_player.team_name unless matcha.top_player.nil? %> </li>
      <li class="game game-spacer"><input type="text" id="datepicker<%= j %>"></li>
      <li class="game game-bottom winner"><span class="team-logo"></span> <%= matcha.bottom_player.team_name unless matcha.bottom_player.nil? %> </li>
      <% j += 1 %>
      <% end %>

      <li class="spacer">&nbsp;</li>
    </ul> 
    <ul class="round round-6">
      <li class="spacer">&nbsp;</li>

      <li class="game game-top winner"><span class="team-logo"></span> <%= @winner.top_player.team_name unless @winner.top_player.nil? %></li>

      <li class="spacer">&nbsp;</li>
    </ul> 
  </main>
  </div>
  </div>
  </div>
