
  <% content_for :datepicker do %>
    <!-- Datepicker START -->
    <script>
      $(function() {

        var i;
        
        for(i = 1; i <= 30; i++)
        {
          $( "#datepicker" + i ).datetimepicker({
            controlType: 'select',
            oneLine: true,
            dateFormat: "yy-mm-dd",
            timeFormat: 'hh:mm tt'
          });
        }

      });
    </script>
    <!-- Datepicker END -->
  <% end %>

  <div class="container">
  <div class="row">
  <div class="col-md-12">
    <% if !flash[:notice].blank? %>
      <!-- blank => nil? || empty?-->
      <div class="notice_box">
        <%= raw(flash[:notice]) %>
      </div>
    <% end %>
    <h2 style="color:#EEE;"> The timezone used is PST (UTC -8) </h2>
  <main id="tournament">
    <ul class="round round-1">
      <!-- Round 1 - 32 Teams -->
      <!-- 16 match (1-16) -->
      <% j = 1 %>
      <% @first_round_matches.each do |matcha| %>

        <% if matcha.top_player.nil?  || matcha.bottom_player.nil? %>
        <%= render partial: 'emptyround', locals: {:matcha => matcha} %>
        <% else %>
        <%= render partial: 'round', locals: {:the_player => @the_player, :matcha => matcha, :counter => j} %>
        
        <% end %>

      <% j += 1 %>
      <% end %>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2">
      <!-- Round 2 - 16 Teams -->
      <!-- 8 match (17 - 24) -->
      <% j = 17 %>
      <% @second_round_matches.each do |matcha| %>

        <% if matcha.top_player.nil?  || matcha.bottom_player.nil? %>
        <%= render partial: 'emptyround', locals: {:matcha => matcha} %>
        <% else %>
        <%= render partial: 'round', locals: {:the_player => @the_player, :matcha => matcha, :counter => j} %>
        
        <% end %>

      <% j += 1 %>
      <% end %>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-3">
      <!-- Round 3 - 8 Teams -->
      <!-- 4 match (25 - 28) -->
      <% j = 25 %>
      <% @third_round_matches.each do |matcha| %>

        <% if matcha.top_player.nil?  || matcha.bottom_player.nil? %>
        <%= render partial: 'emptyround', locals: {:matcha => matcha} %>
        <% else %>
        <%= render partial: 'round', locals: {:the_player => @the_player, :matcha => matcha, :counter => j} %>
        
        <% end %>

      <% j += 1 %>
      <% end %>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-4">
      <!-- Round 4 - 4 Teams -->
      <!-- 2 match (29 - 30) -->
      <% j = 29 %>
      <% @fourth_round_matches.each do |matcha| %>

        <% if matcha.top_player.nil?  || matcha.bottom_player.nil? %>
        <%= render partial: 'emptyround', locals: {:matcha => matcha} %>
        <% else %>
        <%= render partial: 'round', locals: {:the_player => @the_player, :matcha => matcha, :counter => j} %>
        
        <% end %>

      <% j += 1 %>
      <% end %>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-5">
      <!-- Round 5 - 2 Teams -->
      <!-- 1 match (31 - 31) -->
      <% j = 31 %>
      <% @fifth_round_matches.each do |matcha| %>

        <% if matcha.top_player.nil?  || matcha.bottom_player.nil? %>
        <%= render partial: 'emptyround', locals: {:matcha => matcha} %>
        <% else %>
        <%= render partial: 'round', locals: {:the_player => @the_player, :matcha => matcha, :counter => j} %>
        
        <% end %>

      <% j += 1 %>
      <% end %>

      <li class="spacer">&nbsp;</li>
    </ul> 
    <ul class="round round-6">
      <li class="spacer">&nbsp;</li>

      <li class="game game-top winner"><span class="team-logo"></span> <%= @winner.top_player.team_name unless @winner.top_player.nil? %></li>

      <li class="spacer">&nbsp;</li>
    </ul> 
  </main>
  </div>
  </div>
  </div>
