  <% content_for :javascripta do %>
    <!-- Collapse START -->
    <script>
      $(function() {

        $('.collapse').collapse();

      });
    </script>
    <!-- Collapse END -->
  <% end %>


  <div class="container">
    <% if !flash[:notice].blank? %>
      <!-- blank => nil? || empty?-->
      <div class="notice_box">
        <%= raw(flash[:notice]) %>
      </div>
    <% end %>
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <h2> Team </h2>
        <br>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <% @team_full_array.each do |team| %>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading<%= team[:id] %>">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= team[:id] %>" aria-expanded="true" aria-controls="collapse<%= team[:id] %>">
                    <strong> Team </strong> : <%= team[:team_name] %>
                  </a>
                </h4>
              </div>
              <div id="collapse<%= team[:id] %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= team[:id] %>">
                <div class="panel-body">
                  <strong> Player name : </strong> <%= team[:name] %> <br>
                  <strong> Steam ID : </strong> <%= team[:steam_id] %> <br>
                  <strong> Email : </strong> <%= team[:email] %> <br>
                  <strong> MMR : </strong> <%= team[:mmr] %> <br>
                </div>
              </div>
            </div>
          <% end %>
          </div>
        <br>
        <h2> Delete team </h2>
        <%= form_tag({:action => "delete_team"}, :method => :delete) do |f| %>
            <div class="form-group">
              <label for="team_id">Team</label>
              <%= select_tag(:team_id, options_for_select(@team_select_array)) %>
            </div>

             <%= submit_tag "Delete", class: "btn btn-default" ,  :onclick => "return confirm('Confirm delete this team? All the related match will be deleted.')"  %> <br><br> 
          <% end %>

      </div>
    </div>
  </div>