  <% content_for :menu do %>
            <li><a href="index.html">HOME</a></li>
            <li><a href="teams.html">TEAMS</a></li>
            <li><a href="schedule.html">SCHEDULE</a></li>
            <li class="current_page_item"><a href="register.html">REGISTER</a></li>
            <li><a href="about.html">ABOUT</a></li>
  <% end %>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1 id="login">Login</h1>
        <div class="form">

          <% if !flash[:notice].blank? %>
            <!-- blank => nil? || empty?-->
            <div class="notice_box">
              <%= raw(flash[:notice]) %>
            </div>
          <% end %>

          <%= form_tag({:action => "attempt_login"}) do |f| %>
            <div class="form-group">
              <label for="name">Player Name</label>
              <%= text_field_tag :name, nil, placeholder: "Enter name here", class: "form-control" %>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
            </div><br>

             <%= submit_tag "Login", class: "btn btn-default" %> <br><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>